* {
  color: white;
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden !important;
  padding: 0px;
  /* background-color: rgb(9, 9, 50); */
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(9, 9, 50);
  overflow: hidden;
}

/* _______________________________________________________________________________ NAV BAR*/

nav {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  padding: 12px;
}
.nav-branding {
  text-decoration: none;
  font-weight: 800;
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  background-color: rgba(167, 70, 196, 0.315);
}

nav ul {
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
}

nav ul li {
  padding: 0 40px;
  list-style-type: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
}
/*______________________________ STICKY NAV*/
.sticky-nav {
  position: fixed;
  /* left: 0; */
  /* top: 0; */
  background-color: rgba(9, 9, 50, 0.81);

  width: 100%;
  z-index: 999;
}

/*_____________________________________________ Dropdown */
.dropdown {
  /* position: relative; */
  display: inline-block; /* MUST*/
}
.dropdown-content {
  display: none;
  position: absolute; /* if not absolute enitre screen will change position on hover*/
  background-color: #f1f1f1;
  /* z-index: 1; */
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block; /*_________________MOST IMP LINE OF CODE FOR DrpDwn to make it show on hover */
}

/* _______________________________________________________________________________ HEADER*/
header {
  /* min-height: 90vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
}

.pc-image {
  max-width: 330px;
  max-height: 330px;
}

header h1 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Outfit", sans-serif; */
  font-size: 64px;
}

header p {
  font-size: 24px;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Mono", monospace;
}

button {
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 60px;
  text-decoration: none;
  border: 1px solid white;
  margin: 20px;
}

.button1 {
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  /* margin: 10px 10px; */
}
.button1:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}
.button1:active {
  position: relative;
  top: 1px;
}

.button2 {
  background-color: rgb(9, 9, 50);
  /* margin: 40px 10px; */
}
.button2:hover {
  background-color: white;
  color: black;
}

.button2:active {
  position: relative;
  top: 1px;
}
/* _______________________________________________________________________________ FEATURED*/
.featured {
  margin-top: 200px;
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-img {
  min-height: 60px;
  min-width: 300px;
  max-width: 1200px;
}
/* _______________________________________________________________________________ ANALYTICS*/
.analytics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
  padding: 24px;
}

.analytics h1 {
  font-size: 44px;
  font-family: "Poppins", sans-serif;
}

.analytics p {
  font-size: 24px;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Mono", monospace;
}

.analytics-img {
  max-width: 330px;
  max-height: 330px;
}

.button3 {
  margin-top: 20px;
  background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color: #dfbdfa;
  margin: 40px 0;
}
.button3:hover {
  background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color: #bc80ea;
}
.button3:active {
  position: relative;
  top: 1px;
}
/* _______________________________________________________________________________ NEWS*/
.news {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 200px;
  /* margin-left: 40px; */
  padding: 24px;
}

.news-img {
  max-width: 330px;
  max-height: 330px;
}

.news h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}

.news p {
  font-size: 24px;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Mono", monospace;
}
/* _______________________________________________________________________________ TESTIMONIALS*/

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  padding: 24px;
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 28, 85, 0.596);
  max-width: 250px;
  min-height: 400px;
  padding: 20px;
}

.user p {
  font-family: "Roboto Mono", monospace;
}

.user img {
  width: 100px;
  height: 100px;
  border-radius: 25%;
}
/* _______________________________________________________________________________ TEAM*/

.team {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
}
.our-team {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* font-size: 65px; */
  /* font-weight: bold; */
  min-height: 330px;
  max-width: 1200px;
  border-radius: 25px;
  background: rgb(39, 7, 103);
  background: linear-gradient(
    90deg,
    rgba(39, 7, 103, 0.9416141456582633) 21%,
    rgba(67, 111, 228, 0.8155637254901961) 100%
  );
}

.our-team h1 {
  font-size: 65px;
  font-family: "Poppins", sans-serif;
}

.our-team h2 {
  font-family: "Poppins", sans-serif;
}

.button4 {
  background-color: rgb(9, 9, 50);
}

.button4:hover {
  background-color: white;
  color: black;
}

.button4:active {
  position: relative;
  top: 1px;
}

/* _______________________________________________________________________________ FOOTER*/
footer {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
}

.button5 {
  background-color: rgb(9, 9, 50);
  padding: 6px 12px;
  font-size: 12px;
}

.button5:hover {
  background-color: white;
  color: black;
}

.button5:active {
  position: relative;
  top: 1px;
}
.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.footer-info ul {
  padding: 10px;
  margin: 5px;
}

.footer-info ul li a {
  text-decoration: none;
}
/* ____________________________________________ HMB MENU*/
.hamburger {
  display: none; /* HMB MENU is off first*/
  /* display: block */
  cursor: pointer;
}

.bar {
  display: block;
  width: 28px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*__________________________________________________________________________________ MOB-RESPONSIVE */

@media only screen and (max-width: 765px) {
  /*__________________________________________________ HMB MENU*/
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(2) {
    /* opacity: 0; */
    display: none;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  /* _____________________________________________________ NAV */
  .nav-menu {
    position: fixed;
    top: -100%;
    gap: 0;
    flex-direction: column;
    align-items: center;
    background: #20042bec;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    margin: 16px 0;
  }

  .dropdown {
    margin: 10px;
    padding: 10px;
  }

  .nav-menu.active {
    top: 70px;
    left: 0;
  }
  /*______________________________________________ HEADER*/
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }

  header h1 {
    font-size: 30px;
  }

  header p {
    font-size: 14px;
  }
  .main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*_________________________________________________FEATURED*/
  .featured {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  /*_______________________________________________ ANALITYCS */
  .analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    /* text-align: center; */
  }
  .analytics h1 {
    font-size: 30px;
  }
  .analytics p {
    font-size: 16px;
  }
  .analytics button {
    padding: 10px 30px;
  }
  /*_______________________________________________ NEWS */
  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    /* text-align: center; */
  }
  .news h1 {
    line-height: 1.3;
    font-size: 30px;
  }

  .news p {
    font-size: 16px;
  }

  /*_______________________________________________ TESTIMONIALS*/
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .testimonials .users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* overflow-y: hidden; */
  }

  .testimonials .user {
    padding: 20px;
    margin: 20px;
  }

  .testimonials h2 {
    font-size: 24px;
  }

  .testimonials p {
    font-size: 14px;
  }
  .user h2 {
    margin: 10px 0;
  }
  .text h2 {
    margin: 10px;
  }
  /*__________________________________________ OUR TEAM*/
  .team {
    margin-top: 100px;
  }

  .our-team h1 {
    padding: 10px;

    font-size: 30px;
    font-family: "Poppins", sans-serif;
  }

  .our-team h2 {
    padding: 10px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
  }
  .our-team button {
    padding: 10px 30px;
    font-size: 16px;
  }
  /*______________________________________________ FOOTER*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
  }
  .email-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
